<div class="relative min-h-screen font-montserrat" (scroll)="onScroll($event)">
  <header class="uppercase bg-white text-gray-800 bg-opacity-0 fixed top-0 left-0 py-6 px-4 w-full z-50 transition ease-in-out duration-300" #headerEl>
    <div class="w-full hidden sm:flex justify-evenly items-center">
      <a class="cursor-pointer" (click)="scrollInto(servicesEl)">Our Services</a>
      <a class="cursor-pointer" (click)="scrollInto(aboutEl)">About Us</a>
      <a class="cursor-pointer" (click)="scrollInto(introductionEl)">
        <img src="https://prod-cinq-assets.s3.ap-southeast-1.amazonaws.com/brand/logo.png" width="150"/>
      </a>
      <a class="cursor-pointer" (click)="scrollInto(teamEl)">The Team</a>
      <a class="cursor-pointer" (click)="scrollInto(contactEl)">Contact Us</a>
    </div>
    <div class="w-full relative flex justify-center items-center sm:hidden">
      <a class="cursor-pointer" (click)="scrollInto(introductionEl)">
        <img src="https://prod-cinq-assets.s3.ap-southeast-1.amazonaws.com/brand/logo.png" width="150"/>
      </a>
      <a class="absolute right-0 top-1/2 transform -translate-y-1/2" (click)="toggleMenu(headerEl)">
        <span class="material-icons-outlined text-4xl">{{ isMenuShown ? 'close' : 'widgets' }}</span>
      </a>
    </div>
    <div class="flex-col items-center justify-between pt-4" [ngClass]="{'hidden h-0': !isMenuShown, 'flex h-48': isMenuShown }">
      <a class="cursor-pointer" (click)="scrollInto(servicesEl)">Our Services</a>
      <a class="cursor-pointer" (click)="scrollInto(aboutEl)">About Us</a>
      <a class="cursor-pointer" (click)="scrollInto(teamEl)">The Team</a>
      <a class="cursor-pointer" (click)="scrollInto(contactEl)">Contact Us</a>
    </div>
  </header>

  <section class="relative z-10 bg-white min-h-screen sm:min-h-screen-80 bg-opacity-50 py-14 px-10 flex justify-center items-center" #introductionEl>
    <p class="max-w-3xl text-center text-gray-800 italic text-lg">"With all that we have, we’ve been truly blessed. Your presence and prayers are all that we request. But if you desire to give nonetheless, a monetary gift is one we suggest."</p>
  </section>
  
  <section class="relative z-20 bg-white text-gray-700 sm:max-w-7xl w-full sm:mx-auto py-14 sm:py-0 px-10 sm:px-0">
    <div class="sm:absolute -top-40 left-0 flex flex-col sm:flex-row items-center sm:justify-evenly w-full">
      <div class="cinq-card w-80 h-96 flex flex-col justify-evenly items-center my-2 sm:my-0">
        <span class="material-icons text-8xl text-gray-400">favorite</span>
        <div class="text-center">
          <h3 class="uppercase font-medium">Weddings</h3>
          <p>To love, laughter, and happily ever after. Happily ever after begins here.</p>
        </div>
        
      </div>
      <div class="cinq-card w-80 h-96 flex flex-col justify-evenly items-center my-2 sm:my-0">
        <span class="material-icons text-8xl text-gray-400">cake</span>
        <div class="text-center">
          <h3 class="uppercase font-medium">Birthdays</h3>
          <p>It's your special day — get out there and celebrate!</p>
        </div>
      </div>
      <div class="cinq-card w-80 h-96 flex flex-col justify-evenly items-center my-2 sm:my-0">
        <span class="material-icons text-8xl text-gray-400">celebration</span>
        <div class="text-center">
          <h3 class="uppercase font-medium">Others</h3>
          <p>Occasions? We got you fam!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="cinq-container min-h-screen sm:pt-72 py-10 px-10" #servicesEl>
    <h2 class="cinq-header">Our Services</h2>
    <p class="max-w-3xl text-center text-gray-800">Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor</p>
  </section>

  <section class="cinq-container opacity-80 py-14 px-10 min-h-screen-50" #aboutEl>
    <h2 class="cinq-header">About Us</h2>
    <p class="max-w-3xl text-center text-gray-800">
      <span class="font-semibold">CINQ Invitations & Services</span> Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor Lorem epsum dolor
    </p>
  </section>

  <section class="cinq-container min-h-screen py-14 px-10" #teamEl>
    <h2 class="cinq-header">The Team</h2>
    <div class="flex flex-row flex-wrap justify-center text-gray-800">
      <div class="max-w-xs w-full p-4" *ngFor="let tm of team">
        <img [src]="tm.image" lazy="loading" [alt]="tm.name" class="h-80 w-full object-cover border-2 border-gray-800" />
        <p class="text-center pt-2">{{ tm.name }}</p>
      </div>
    </div>
  </section>

  <section class="cinq-container opacity-80 py-14 px-10 min-h-screen-50" #contactEl>
    <h2 class="cinq-header">Contact Us</h2>
  </section>

  <footer class="cinq-container h-20 text-center p-8">
    <p class="text-gray-800">Cinq Invitations & Souvenirs</p>
    <p class="text-gray-600 text-sm">© 2021 All Rights Reserved</p>
  </footer>

  <img class="w-full align-middle fixed top-0 left-0 z-0 h-screen object-cover" src="https://prod-cinq-assets.s3.ap-southeast-1.amazonaws.com/uploads/introduction.jpg" lazy="loading" alt="Cinq Background"/>
</div>